# General
*.log
.DS_Store
npm-debug.log
yarn-error.log
.phpactor.json
.phpunit.result.cache

# Environments
.env
.env.backup
.env.production

# IDE & Editor Directories
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Dependencies
/vendor/
/node_modules

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
/public/build

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

# Other
/auth.json